
h1{
	color:black;
	font-size: 24px;
}
h2{
	color:#009FCC;
	font-size: 20px;
}
*{
	margin:0;
	padding: 20px
}

body{
	line-height: 50px;
	background-color:#BBFFEE;
}

div.background1{
	margin: 10px;
	width:600px;
	background: url('images/微信图片_20200926185527.jpg') no-repeat;
	border:1px solid black;
	border-radius: 10px;
}
div.one{width:540px;
	margin-left:auto;
	margin-right: auto;
	background-color:white;
	border: 1px solid black;
	opacity:0.6;
	border-radius: 10px;

}
div.background{
	margin: 10px;
	width:600px;
	background:url('images/微信图片_20200926185511.jpg') no-repeat;
	border:1px solid black;
	border-radius: 10px
}
div.two{
	width:540px;
	margin-left:auto;
	margin-right: auto;
	background-color:white;
	border: 1px solid black;
	opacity:0.6;
	border-radius: 10px;
}
div.two p{
	margin:20px;
}
div.introduction{
	margin:10px;
}