
h1{
	color:#009FCC;
	font-size: 22px;
}
body{
	background-color:#99BBFF;
}
h2{
	color:#009FCC;
	font-size: 14px;
}
*{
	margin:0;
	padding: 50px
}
img{
	float:left;
	width: 360px;
}
body{
	line-height: 20px
}
div.one-end,.two-end{
	clear:both;
}
div.one,.two{
	border-width: 5px
	border-color:white;
	border-style: solid;
}
